<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<div *ngIf="success" class="alert alert-success">{{success}}</div>

<div id="theList">
    <h2>The list</h2>

    <div class="list-group">
      <div *ngFor="let item of cars;let i = index;" class="list-group-item row">
        <div class="col-4" style="float:left">
          <input type="text"
                 [(ngModel)]="cars[i].model"
                 class="form-control"
                 required
                 pattern="^[a-zA-Z]+$"
                 #model="ngModel"
                 [ngClass]="{ 'is-invalid': model.touched && model.invalid }">
        </div>
        <div class="col-4" style="float:left">
          <input type="number"
                 [(ngModel)]="cars[i].price"
                 class="form-control"
                 required
                 #price="ngModel"
                 [ngClass]="{ 'is-invalid': price.touched && price.invalid }">
        </div>
        <div class="col-4" style="float:left">
          <input type="button"
                 value="Update"
                 class="btn btn-success btn-sm"
                 [disabled]="model.invalid || price.invalid"
                 (click)="updateCar(model, price, item.id)">
          &nbsp;
          <input type="button"
                 value="Delete"
                 class="btn btn-danger btn-sm"
                 (click)="deleteCar(item.id)">

        </div>
      </div>
    </div>
  </div>

<div id="theForm">
  <h2>The form</h2>
  <form #f="ngForm" name="theForm" (submit)="addCar(f)">
    <div class="form-group">
      <label>Model</label>
      <input type="text"
            class="form-control"
            name="model"
            [(ngModel)]="car['model']"
            #carModel="ngModel"
            required
            pattern="^[a-zA-Z]+$">
      <span class="help-block danger" *ngIf="carModel.errors?.required && carModel.touched">
        The model name is required
      </span>
      <span class="help-block danger" *ngIf="carModel.errors?.pattern && carModel.touched">
        The model name can only contain the letters a-z or A-Z
      </span>
    </div>

    <div class="form-group">
      <label>Price</label>
      <input type="number"
            class="form-control"
            name="price"
            required
            [(ngModel)]="car['price']"
            #carPrice="ngModel">
      <span class="help-block danger" *ngIf="carPrice.errors?.required && carPrice.touched">
        The price is required
      </span>
    </div>

    <button
        class="btn btn-primary btn-sm"
        [disabled]="f.invalid">Add</button>
  </form>
</div>


<router-outlet></router-outlet>
